@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: 
    radial-gradient(1200px circle at 70% 10%, rgba(96, 165, 250, 0.188), transparent),
    radial-gradient(900px circle at 30% 90%, rgba(37, 80, 145, 0.203), transparent),
    linear-gradient(60deg , rgba(2, 6, 23, 0.463), rgba(2, 6, 23, 0.262)),
    url("/site-bg.png") center top / cover no-repeat fixed;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
